<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstraps.css}"/>
</head>
<body>
<header class="header">
    <h1 class="title">To Do List</h1>
</header>
<main>
    <form th:action="@{/todo/{toDoNo}/editProcessing(toDoNo=${extodo.no})}" th:object="${todo}" method="post" id="todo" class="container todo">
        <h2>수정</h2>
        <table class="todo">
            <tbody>
            <tr>
                <th>제목:</th>
                <td>
                    <select th:field="*{priority}">
                        <option th:each="priority : ${T(com.kmkmi.todolist.model.Priority).values()}"
                                th:value="${priority}"
                                th:text="${priority}">
                        </option>
                    </select>
                    <input type="text" name="title" id="title" th:value="${extodo.title}" required="required"/>
                </td>
            </tr>
            <tr>
                <input type="checkbox" id="dl_check" value="on">데드라인 설정
                <th>계획일:</th>
                <td>
                    <input type="date" id="date" th:value="${#strings.arraySplit(extodo.deadLine, ' ')[0]}" required="required"/>
                    <input type="time" id="time" th:value="${#strings.arraySplit(extodo.deadLine, ' ')[1]}" required="required"/>
                    <input type="hidden" th:field="*{deadLine}"/>
                </td>
            </tr>
            <tr>
                <th>내용:</th>
                <td><textarea name="text" id="text" th:text="${extodo.text}" class="text"></textarea></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="toDoStat" id="toDoStat" th:value="${extodo.toDoStat}"/>
        <input type="submit"align="right" onclick="return submitting()"  value="등록">
        <input type = "button" align="right"  th:onclick="|window.location.href= '@{/index}'|" value = "취소" >
    </form>
</main>
<script type="text/javascript" th:src="@{/js/todo.js}"></script>
</body>
</html>